* {
    margin: 0 0 0 0;
    padding: 0;
    border: none;
}

html {
    min-height: 100%;
}


/* header style */

header {
    font-size: 100%;
    overflow: auto;
    background-color: whitesmoke;
    width: 100%;
    margin: 5px;
}

#logo {
    margin-left: 35px;
    float: left;
}

#signature {
    font-size: 110%;
    font-family: 'Dancing Script', cursive;
}

#menu {
    padding-top: 15px;
    text-transform: capitalize;
    float: right;
    text-decoration: lightslategrey;
}

a:hover {
    text-decoration: black;
  }

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
    text-decoration: lightslategrey;
}

/* Footer style */

footer {
    height: 200px;
    width: 100%;
    text-align: center;
    background-color: whitesmoke;
}

footer p {
    width: 33%;
}

#footerflex {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 5%;
}

.footer-social {
    height: 60px;
    font-size: 200%;
    width: 33%;
}

.footer-social li {
    display: inline;
    padding: 5%
}

.footer-social i {
    color: brown;
}

/* body style */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgb(59, 71, 71);
    height: 100%;
    background: linear-gradient(#cacaca, #f5f5f5);
}


/* index slideshow */

#indexSlideshow {
    max-height: 800px;
    overflow: hidden;
}

.indexSlideImg {
    max-width: 100%;
    background-color: #808080;
    overflow: hidden;
    display: none;
}


/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* gallery */

#gallery {
    width: 100%;
}

#selectors {
    display: flex;
    margin: 10px;
}

checkbox {
    padding: 20px;
}

.portraitcheckbox {
    margin: 15px;
}

#maingallery {
    display: flex;
    width: 90%;
    margin-left: 5%;
    flex-wrap: wrap;
}

.galleryThumb {
    margin: 5px;
}

.portrait {
    width: 11%;
}

.landscape {
    width: 22%;
}


/* about page */

#aboutGemma {
    display: flex;
    flex-direction: column;
}

.abouttext {
    padding: 10px;
}

.contacttext {
    padding: 10px;
    text-decoration: none;
}

/* responsive components */

@media screen and (max-width: 600px) {

    .portrait {
        width: 100%;
    }
    
    .landscape {
        width: 100%;
    }
    


}